
form{
    overflow: hidden;
    width: 15vw;
    border: solid aqua;
    border-radius: 10%;
    text-align: center;
}

#form2{
    width: 15vw;
    height: 20vh;
    transform: scale(1); 
    transition: transform 400ms;  
}

#bouton2{
    width: 15vw;
    height: 20vh;
    color: aliceblue;
    font-size:5em;
    font-weight: bolder;
    cursor: pointer;
    border: rgb(0, 255, 255);
    background-size: cover;
    background-image:linear-gradient(rgba(0, 255, 255, 0.5), 
                     rgba(0, 255, 255, 0.5)),
                        url("benighted.jpg");

}

#bouton2:hover{
    background-image: url("benighted.jpg");
}

#form2:hover{
    transition: 400ms;
    transform: scale(1.05);
}
